<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LK_Renderer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <LK_Renderer.Properties.Settings>
            <setting name="baseurl" serializeAs="String">
                <value>http://download.blender.org/release/</value>
            </setting>
            <setting name="v276b" serializeAs="String">
                <value>Blender2.76/blender-2.76b-windows64.zip</value>
            </setting>
            <setting name="v276a" serializeAs="String">
                <value>Blender2.76/blender-2.76a-windows64.zip</value>
            </setting>
            <setting name="v276" serializeAs="String">
                <value>Blender2.76/blender-2.76-windows64.zip</value>
            </setting>
            <setting name="versions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>v2.76b</string>
                        <string>v2.76a</string>
                        <string>v2.76</string>
                    </ArrayOfString>
                </value>
            </setting>
        </LK_Renderer.Properties.Settings>
    </applicationSettings>
</configuration>